@font-face {
  font-family: 'DMSans-Regular', sans-serif;
  src: local('DMSans-Regular'),
    url('../fonts/DMSans-Regular.woff2') format('woff2'),
    url('../fonts/DMSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend-Medium', sans-serif;
  src: local('Lexend-Medium'),
    url('../fonts/Lexend-Medium.woff2') format('woff2'),
    url('../fonts/Lexend-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend-Regular', sans-serif;
  src: local('Lexend-Regular'),
    url('../fonts/Lexend-Regular.woff2') format('woff2'),
    url('../fonts/Lexend-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend-SemiBold', sans-serif;
  src: local('Lexend-SemiBold'),
    url('../fonts/Lexend-SemiBold.woff2') format('woff2'),
    url('../fonts/Lexend-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish-Bold', sans-serif;
  src: local('Mulish-Bold'),
    url('../fonts/Mulish-Bold.woff2') format('woff2'),
    url('../fonts/Mulish-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish-Light', sans-serif;
  src: local('Mulish-Light'),
    url('../fonts/Mulish-Light.woff2') format('woff2'),
    url('../fonts/Mulish-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish-SemiBold', sans-serif;
  src: local('Mulish-SemiBold'),
    url('../fonts/Mulish-SemiBold.woff2') format('woff2'),
    url('../fonts/Mulish-SemiBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Bold', sans-serif;
  src: local('Poppins-Bold'),
    url('../fonts/Poppins-Bold.woff2') format('woff2'),
    url('../fonts/Poppins-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-SemiBold', sans-serif;
  src: local('Poppins-SemiBold'),
    url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
    url('../fonts/Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik-Regular', sans-serif;
  src: local('Rubik-Regular'),
    url('../fonts/Rubik-Regular.woff2') format('woff2'),
    url('../fonts/Rubik-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}