%bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}




%dmsans400 {
  font-family: 'DMSans', sans-serif;
  font-weight: 400;
}

%lexend400 {
  font-family: 'Lexend', sans-serif;
  font-weight: 400;
}

%lexend500 {
  font-family: 'Lexend', sans-serif;
  font-weight: 500;
}

%lexend600 {
  font-family: 'Lexend', sans-serif;
  font-weight: 600;
}

%mulish700 {
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
}

%mulish800 {
  font-family: 'Mulish', sans-serif;
  font-weight: 800;
}

%mulish300 {
  font-family: 'Mulish', sans-serif;
  font-weight: 300;
}

%poppins700 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

%poppins600 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

%rubik400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

